<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conversor de Moedas</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  
  <body>
    <div class="container">
      <div class="titulo">
        <h1>Conversor de Moedas</h1>
      </div>

      <form action="/" method="POST">
        <label for="valor">Valor</label>

        <input
          type="number"
          id="valor"
          name="valor"
          placeholder="Digite o valor"
          min="0"
          step="0.01"
        />

        <label for="de">De</label>

        
        <select name="de" id="de">
          <option value="BRL">Real</option>
          <option value="USD">Dólar</option>
          <option value="EUR">Euro</option>
          <option value="JPY">Iene</option>
        </select>
        
        <label for="para">Para</label>
        
        <select name="para" id="para">
          <option value="BRL">Real</option>
          <option value="USD">Dólar</option>
          <option value="EUR">Euro</option>
          <option value="JPY">Iene</option>
        </select>

        <button type="submit">Converter</button>
        <div class="resultado">
          {% if resultado is not none %}
          <p>Cotação: {{ simbolo_de }} 1  = {{ simbolo }} {{ "%.2f"|format(cotacao) }}</p>

          <p>{{ simbolo_de }} {{ "%.2f"|format(valor) }} > {{ simbolo }} {{ "%.2f"|format(resultado) }}</p>
          {% endif %}
        </div>

        {% if erro %}
          <div class="erro">
            <p>{{ erro }}</p>
          </div>
        {% endif %}

      </form>

      <button class="botao-historico" id="botaoHistorico">
        Histórico
      </button>

      <div class="historico">

        <div class="cabecalho-historico">
          <h2>Histórico de Conversões</h2>

          <button type="button" class="fechar-historico" id="fecharHistorico">
              x
          </button>
        </div>
        
        <form action="/" method="POST" class="form-limpar">

          <input type="hidden" name="acao" value="limpar_historico">

          <button type="submit" class="limpar-historico">
            Limpar Histórico
          </button>

        </form>

        <ul>
          {% for item in historico %}
            <li>
              <div class="historico-conversao">
                <strong>
                  {{ item.simbolo_de }} {{ "%.2f"|format(item.valor) }}
                  >
                  {{ item.simbolo }} {{ "%.2f"|format(item.resultado) }}
                </strong>

                <span>
                  {{ item.de }} > {{ item.para}}
                </span>

                <small>
                  Cotação: {{ "%.4f"|format(item.cotacao)}}
                </small>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <script>
      const botaoHistorico = document.getElementById("botaoHistorico");
      const historico = document.querySelector(".historico");
      const fecharHistorico = document.getElementById("fecharHistorico");
      document.addEventListener("click", function(event) {
        if (!historico.contains(event.target) && event.target !== botaoHistorico) {
          historico.classList.remove("aberto");
        }
      });

      fecharHistorico.addEventListener("click", function() {
        historico.classList.remove("aberto");
      });

      botaoHistorico.addEventListener("click", function() {
        historico.classList.toggle("aberto");
      });
    </script>
  
  </body>
</html>
