<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conversor de Moedas</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="titulo">
        <h1>Conversor de Moedas</h1>
      </div>

      <form action="/" method="POST">
        <label for="valor">Valor</label>

        <input
          type="number"
          id="valor"
          name="valor"
          placeholder="Digite o valor"
        />

        <label for="de">De</label>

        
        <select name="de" id="de">
          <option value="BRL">Real</option>
          <option value="USD">Dólar</option>
          <option value="EUR">Euro</option>
          <option value="JPY">Iene</option>
        </select>
        
        <label for="para">Para</label>
        
        <select name="para" id="para">
          <option value="BRL">Real</option>
          <option value="USD">Dólar</option>
          <option value="EUR">Euro</option>
          <option value="JPY">Iene</option>
        </select>

        <button type="submit">Converter</button>
        <div class="resultado">
          {% if resultado is not none %}
          <p>Cotação: {{ simbolo_de }} 1  = {{ simbolo }} {{ "%.2f"|format(cotacao) }}</p>

          <p>Resultado: {{ simbolo }} {{ "%.2f"|format(resultado) }}</p>
          {% endif %}
        </div>

        {% if erro %}
          <div class="erro">
            <p>{{ erro }}</p>
          </div>
        {% endif %}
      </form>
    </div>
  </body>
</html>
